@font-face {
    font-family: Poppins;
    src: url('/src/assets/fonts/Poppins-Regular.ttf') format('open-type');
}

@font-face {
    font-family: Roboto;
    src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf') format('open-type');
}

@font-face {
    font-family: PoppinsLight;
    src: url('/src/assets/fonts/Poppins-Light.ttf') format('open-type');
}

* {
    outline: none;
}

$tabBlue: #688090;
$customYellow: #FDC624;
.container {
    margin-left: 10vw;
    margin-right: 10vw;
}


/* League banner starts */

.leageNameHero {
    background-image: url('/src/assets/images/image1.png');
    background-position: center;
    background-size: cover;
    height: 25vh;
    background-repeat: no-repeat;
    .overlay {
        background: linear-gradient(359.71deg, #FFFFFF -164.45%, rgba(255, 255, 255, 0) 17.36%), rgba(33, 35, 44, 0.9);
        height: 100%;
        .panel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            .leageName {
                color: #fff;
                font-family: Poppins, sans-serif;
                font-size: 36px;
                text-transform: uppercase;
            }
            ul.breadCrumbs {
                list-style: none;
                display: flex;
                li {
                    color: $customYellow;
                    padding: 5px;
                    font-size: 10px;
                    font-family: PoppinsLight, sans-serif;
                }
                li:last-child {
                    color: #fff;
                }
                li::after {
                    content: '>';
                    padding-left: 10px;
                }
                li:last-child::after {
                    content: none;
                }
            }
        }
    }
}


/* League banner ends */


/* Body */

.body {
    margin-top: 23px;
    height: 60vh;
}


/* Tabs Group starts */

ul.tabGroup {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    /* Tab item starts */
    li.tabItem {
        a {
            padding: 5px 30px;
            border-right: 1px solid $tabBlue;
            border-bottom: 1px solid transparent;
            color: $tabBlue;
            font-family: Roboto, sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            cursor: pointer;
        }
    }
    li.tabItem:last-child {
        a:last-child {
            border-right: none;
        }
    }
    li.tabItem.active {
        a {
            color: #fff;
            border-bottom: 1px solid $customYellow;
            font-weight: 900;
            background: $tabBlue;
        }
    }
    /* Tab item ends */
}