<div class='main'>
    <div class="leftColumn">
        <!-- Links list -->
        <div class='linksContainer'>
            <div class="container linksGrid">
                <ul>
                    <li class="heading">About Us</li>
                    <li><a href="#">Latest News</a></li>
                    <li><a href="#">Players Room</a></li>
                    <li><a href="#">Media Gallery</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>

                <ul>
                    <li class="heading">Information</li>
                    <li><a href="#">Olympics</a></li>
                    <li><a href="#">FIFA 2019</a></li>
                    <li><a href="#">NFL 2019</a></li>
                    <li><a href="#">NBA 2019</a></li>
                    <li><a href="#">Boxing</a></li>
                </ul>

                <ul>
                    <li class="heading">Support</li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Account</a></li>
                </ul>

                <ul>
                    <li class="heading">Support</li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Account</a></li>
                </ul>
            </div>
        </div>

        <!-- Rights reserved -->
        <div class="rightsReserved">
            <div class="container">
                &copy; All rights reserved 2019
            </div>
        </div>
    </div>
    <div class="rightColumn">
        <div class="container socialMediaGrid">
            <!-- logo section -->
            <div>
                <div>
                    <img src="/src/assets/images/logo/logo.png" alt="BW Football logo">
                </div>
            </div>
            <!-- Social icons section -->
            <div class='socialMediaIconsSection'>
                <ul>
                    <li class='followUs'>Follow Us:</li>
                    <li>F</li>
                    <li>I</li>
                </ul>
            </div>
        </div>
    </div>
</div>