@font-face {
    font-family: Poppins;
    src: url("/src/assets/fonts/Poppins-Regular.ttf") format("open-type");
}

@font-face {
    font-family: PoppinsLight;
    src: url("/src/assets/fonts/Poppins-Light.ttf") format("open-type");
}

$customYellow: #fdc624;

/* main starts */

.main {
    height: 70vh;
    margin-top: 30px;
}


/* main ends */

.singleGameDay {
    display: grid;
    width: 70vw;
    height: 70px;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
    /* Left column */
    .leftColumn {
        display: grid;
    }
    /* right column */
    .rightColumn {
        align-self: center
    }
    /* Team names  */
    .awayTeam,
    .homeTeam {
        .teamName {
            font-family: Poppins, sans-serif;
            font-size: 18px;
            font-weight: 700;
            color: #3b3b45;
        }
    }
    .awayTeam {
        align-items: end;
    }
    .gameDate,
    .gameTime {
        font-family: PoppinsLight, sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #3b3b45;
    }
}

.teamLogoContainer {
    max-width: 26px;
    .teamLogo {
        max-width: 100%;
    }
}


/* Buttons starts */

.btnContainer {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;
}


/* Button group */

.btn-group {
    display: flex;
    width: max-content;
}


/* Pagination style */

pagination-controls /deep/ pagination-template /deep/.ngx-pagination li {
    display: none;
}

pagination-controls /deep/ pagination-template /deep/.ngx-pagination li.pagination-next,
pagination-controls /deep/ pagination-template /deep/.ngx-pagination li.pagination-previous {
    background: $customYellow;
    border: 1px solid #eee;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: rgba(1, 1, 1, 0.8);
    border-radius: 2px;
    a,
    span {
        padding: 15px 27px;
    }
    a:hover,
    span:hover {
        background: none;
    }
}

pagination-controls /deep/ pagination-template /deep/.ngx-pagination .disabled {
    padding: unset!important;
    color: inherit !important;
    cursor: default;
}

pagination-controls /deep/ pagination-template /deep/ .ngx-pagination .pagination-next a::after,
pagination-controls /deep/ pagination-template /deep/ .ngx-pagination .pagination-next.disabled::after,
pagination-controls /deep/ pagination-template /deep/ .ngx-pagination .pagination-previous a::before,
pagination-controls /deep/ pagination-template /deep/ .ngx-pagination .pagination-previous.disabled::before {
    display: none;
}


/* Pagination style */


/* Buttons ends */