<app-league-tabs></app-league-tabs>

<div>
    <div class="leageNameHero">
        <div class="overlay">
            <div class='container panel'>
                <!-- League title -->
                <h1 class='leageName'>Premier League</h1>

                <!-- Bread crumbs -->
                <ul class="breadCrumbs">
                    <li>
                        Home
                    </li>
                    <li>
                        Bread
                    </li>
                    <li>
                        Crumbs
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>