<!-- Purple section with social icons and authentication -->
<div class="purpleSection">
    <div class="container panel">
        <!--Social icons list -->
        <ul class='leftColumn'>
            <li><a>Contact Us</a></li>
            <li><a>Donations</a></li>
        </ul>

        <!-- Authentication links -->
        <ul class="rightColumn">
            <li><a class="yellowText">Sign up</a> or <a>Login</a></li>
            <li>Currency: <a class="yellowText">USD</a></li>
        </ul>
    </div>
</div>

<!-- Navigation section -->
<div class="container">
    <div class="navbar">
        <div class="logoContainer">
            <img src="/src/assets/images/logo/logo.png" alt="BW-FOOTBALL logo">
        </div>

        <!-- Nav links -->
        <ul>
            <li><a>Home</a></li>
            <li><a>News</a></li>
            <li><a>Results</a></li>
            <li routerLink='table' routerLinkActive='active'><a>Tables</a></li>
            <li><a>Tips</a></li>
            <li><a>Features</a></li>
            <li><a>About</a></li>
        </ul>

    </div>
</div>