@font-face {
    font-family: Poppins;
    src: url("/src/assets/fonts/Poppins-Regular.ttf") format("open-type");
}

@mixin for-lg {
    @media screen and (min-width: 992px) {
        @content;
    }
}

$navLinkColor: #23262b;
$listBorder: #3B3B45;

/* All styles starts */

* {
    outline: none;
    margin: 0;
    padding: 0;
}


/* All styles ends */

.container {
    margin-left: 5vw;
    margin-right: 5vw;
    @include for-lg {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}


/* Purple section */

.purpleSection {
    background-color: #25252f;
    height: 3vh;
    .panel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        ul.leftColumn {
            list-style: none;
            display: flex;
            align-items: center;
            li {
                padding: 4px 10px;
                color: #fff;
                font-family: Poppins, sans-serif;
                font-size: 10px;
                border-right: 1px solid $listBorder;
                a {
                    text-decoration: none;
                }
            }
            li:last-child {
                border-right: none;
            }
        }
        ul.rightColumn {
            list-style: none;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            li {
                padding: 4px 10px;
                color: #fff;
                font-size: 10px;
                white-space: nowrap;
                font-family: Poppins, sans-serif;
                border-left: 1px solid $listBorder;
                a {
                    text-decoration: none;
                }
                a.yellowText {
                    color: #fdc624;
                }
            }
        }
    }
}


/* Navbar section */

.navbar {
    height: 10vh;
    background-color: #fff;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 25px;
    @include for-lg {
        align-items: center;
        padding-top: unset;
    }
    /* Logo */
    .logoContainer {
        max-width: 100px;
        img {
            height: 40px;
            @include for-lg {
                height: 100%;
            }
        }
    }
    /* Navbar links */
    .hamburgerBarContainer {
        margin-top: 10px;
        @include for-lg {
            display: none;
        }
    }
    .hamburgerBar {
        height: 6px;
        display: block;
        margin-bottom: 2px;
        width: 35px;
        margin-left: auto;
        background-color: #688090;
    }
    ul {
        margin: 0;
        padding: 0;
        display: none;
        margin-top: 30px;
        text-align: right;
        @include for-lg {
            display: flex;
            margin-top: 0;
            text-align: unset;
            justify-content: space-between;
        }
        li {
            list-style: none;
            padding: 15px 0;
            @include for-lg {
                padding: 0;
            }
            a {
                font-family: Poppins, sans-serif;
                font-weight: 900;
                color: $navLinkColor;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                cursor: pointer;
                border-bottom: 2px solid transparent;
                @include for-lg {
                    padding: 10px 15px;
                }
            }
        }
        li:last-child {
            border-right: none;
        }
        li.active {
            a {
                border-bottom: 3px solid #688090;
            }
        }
    }
    ul.active {
        display: block;
    }
}

.navbar.active {
    height: 70vh;
}