<div class="container">
    <div class="navbar">
        <div class="logoContainer">
            <img src="/src/assets/images/logo/logo.png" alt="BW-FOOTBALL logo">
        </div>

        <!-- Nav links -->
        <ul>
            <li><a>Home</a></li>
            <li><a>News</a></li>
            <li><a>Results</a></li>
            <li routerLink='table'><a>Tables</a></li>
            <li><a>Tips</a></li>
            <li><a>Features</a></li>
            <li><a>About</a></li>
        </ul>

    </div>
</div>