@font-face {
    font-family: Poppins;
    src: url("/src/assets/fonts/Poppins-Regular.ttf") format("open-type");
}

@font-face {
    font-family: PoppinsLight;
    src: url("/src/assets/fonts/Poppins-Light.ttf") format("open-type");
}

@mixin for-lg {
    @media screen and (min-width: 992px) {
        @content;
    }
}

$tabBlue: #688090;
$customYellow: #fdc624;
.container {
    margin-left: 5vw;
    margin-right: 5vw;
    @include for-lg {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}


/* Table starts */

.tableContainer {
    width: 100%;
    margin-top: 30px;
    @include for-lg {
        width: 90%;
    }
}

table {
    width: 100%;
    tr {
        height: 53px;
        @include for-lg {
            height: 30px;
        }
    }
    th:first-child {
        text-align: left;
    }
    th {
        font-family: PoppinsLight, sans-serif;
        font-weight: 100;
        font-size: 11px;
        color: rgb(161, 161, 161);
        @include for-lg {
            font-size: 18px;
        }
    }
    td {
        font-family: Poppins, sans-serif;
        color: #3b3b45;
        font-size: 16px;
        font-weight: 700;
        @include for-lg {
            font-size: 18px;
        }
        .teamLogoContainer {
            height: 30px;
            width: 30px;
            .teamLogo {
                width: 100%;
                height: 100%;
            }
        }
    }
    td:first-child {
        @include for-lg {
            width: 40px;
        }
    }
    /* Left-align td */
    td.right-align,
    th.right-align {
        text-align: right;
    }
}


/* Table ends */


/* Buttons starts */

.btnContainer {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;
}


/* Button group */

.btn-group {
    display: flex;
    width: max-content;
}


/* Pagination style */

pagination-controls /deep/ pagination-template /deep/.ngx-pagination li {
    display: none;
}

pagination-controls /deep/ pagination-template /deep/.ngx-pagination li.pagination-next,
pagination-controls /deep/ pagination-template /deep/.ngx-pagination li.pagination-previous {
    background: $customYellow;
    border: 1px solid #eee;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: rgba(1, 1, 1, 0.8);
    border-radius: 2px;
    a,
    span {
        padding: 15px 27px;
    }
    a:hover,
    span:hover {
        background: none;
    }
}

pagination-controls /deep/ pagination-template /deep/.ngx-pagination .disabled {
    padding: unset!important;
    color: inherit !important;
    cursor: default;
}

pagination-controls /deep/ pagination-template /deep/ .ngx-pagination .pagination-next a::after,
pagination-controls /deep/ pagination-template /deep/ .ngx-pagination .pagination-next.disabled::after,
pagination-controls /deep/ pagination-template /deep/ .ngx-pagination .pagination-previous a::before,
pagination-controls /deep/ pagination-template /deep/ .ngx-pagination .pagination-previous.disabled::before {
    display: none;
}


/* Pagination style */


/* Buttons ends */