<div class="tableContainer">

    <!-- Table starts -->
    <table>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <div class="teamLogoContainer">
                        <img src="/src/assets/images/logo/logo.png" class="teamLogo" alt="Team's Logo" />
                    </div>
                </td>
                <td>Byteworks</td>
                <td class="right-align">32</td>
                <td class="right-align">44</td>
                <td class="right-align">10</td>
            </tr>
        </tbody>
    </table>

    <!-- Table stops -->

    <!-- Pagination section starts -->
    <div class="btnContainer">
        <!-- Button group starts -->
        <div class="btn-group">
            <button class="btn btn-yellow">Prev</button>
            <button class="btn btn-yellow">Next</button>
        </div>
        <!-- Button group ends -->
    </div>
    <!-- Pagination section ends -->
</div>