<div class="tableContainer">

    <!-- Table starts -->
    <table>
        <thead>
            <tr>
                <th>Clubs</th>
                <th></th>
                <th></th>
                <th class="right-align">MP</th>
                <th class="right-align">W</th>
                <th class="right-align">D</th>
                <th class="right-align">L</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let team of table | paginate: { itemsPerPage: count, currentPage: pageNumber}'>
                <!-- Team position on table -->
                <td>{{team.position}}</td>


                <!-- Team crest image -->
                <td>
                    <div class="teamLogoContainer">
                        <img src="{{team.team.crestUrl}}" class="teamLogo" alt="Team's Logo" />
                    </div>
                </td>

                <!-- Team name -->
                <td>{{team.team.name}}</td>
                <td class="right-align">{{team.playedGames}}</td>
                <td class="right-align">{{team.won}}</td>
                <td class="right-align">{{team.draw}}</td>
                <td class="right-align">{{team.lost}}</td>
            </tr>
        </tbody>
    </table>

    <!-- Table stops -->

    <!-- Pagination section starts -->
    <div class="btnContainer">
        <!-- Button group starts -->
        <div class="btn-group">
            <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

        </div>
        <!-- Button group ends -->
    </div>
    <!-- Pagination section ends -->


</div>