<div class='main'>
    <div class="container">
        <div class="inner">

            <!-- List of tabs items -->
            <ul>
                <!-- <li routerLinkActive='active' routerLink='2055'>FA Cup</li> -->
                <li routerLinkActive='active' routerLink='2002'>Bundesliga</li>
                <li routerLinkActive='active' routerLink='2019'>Serie A</li>
                <li routerLinkActive='active' routerLink='2021'>Premier League</li>
            </ul>
        </div>
    </div>
</div>
